<!DOCTYPE html>
<html>

<head>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
  <script>
    $(document).ready(function(){
      var sid,fname,lname, branch, cgpa;
      $("#submit").click(function(){
        sid=$("#sid").val();
        fname=$("#fname").val();
        lname=$("#lname").val();
        branch=$("#branch").val();
        cgpa=$("#cgpa").val();
        $.post("http://localhost:3000/form",{sid: sid, fname: fname, lname: lname, branch: branch, cgpa: cgpa}, function(data){
          if(data === 'yes') {
              alert("data got successfully");
            }
        });
      });
    });
  </script>
</head>

<body>

<h2>Student Form</h2>

<form method="post">
  <label for="sid">Student ID:</label><br>
  <input type="text" id="sid" name="fname"><br>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="branch">Branch:</label><br>
  <input type="text" id="course" name="course" size="50"><br><br>
  <label for="cgpa">CGPA:</label><br>
  <input type="number" id="cgpa" name="cgpa" size="50"><br><br>  
  <input type="button" id="submit" value="Submit">
  
</form> 



</body>
</html>